@import url('https://fonts.googleapis.com/css?family=Baskervville:700|Archivo:400');

body,
p {
  font-family: 'Archivo';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Baskervville';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}

:root[data-theme="light"] {
  --text: #05070a;
  --background: #f1f1f9;
  --primary: #5153b8;
  --secondary: #9a9adb;
  --accent: #7071d2;
}

:root[data-theme="dark"] {
  --text: #f5f7fa;
  --background: #06060e;
  --primary: #4749ae;
  --secondary: #242465;
  --accent: #2d2f8f;
}

:root {
  --linearPrimarySecondary: linear-gradient(#5153b8, #9a9adb);
  --linearPrimaryAccent: linear-gradient(#5153b8, #7071d2);
  --linearSecondaryAccent: linear-gradient(#9a9adb, #7071d2);
  --radialPrimarySecondary: radial-gradient(#5153b8, #9a9adb);
  --radialPrimaryAccent: radial-gradient(#5153b8, #7071d2);
  --radialSecondaryAccent: radial-gradient(#9a9adb, #7071d2);
}